
.container-fluid {
    padding-right: 5%;
    padding-left: 5%;
}


a {
  color: ;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: rgb(248, 182, 94);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}


.title-text {
    font-family: 'IM Fell English', serif;
    font-size: 5em;
    color: white;
    font-style: italic;
}

.body-text {
    font-family: 'IM Fell English', serif;
    color: rgb(178, 178, 178);
    font-size: 1.5em;
}

.nav-container {
    padding-left: 0%;
    padding-right: 0%;
}

.navbar-inverse {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-color: transparent;
    height: 100%;
}

.navbar {
    border-radius: 0px;
    height: 100px;
}

.navbar-brand {
    float: left;
    height: 100%;
    padding: 15%;
}

.nav-text {
    font-family: 'IM Fell English', serif;
    color: white;
    font-size: 1em;
    padding-top: 2%;
}

.nav>li>a {
    position: relative;
    display: block;
    margin: 10px 15px;
    padding: 0px;
}


.sec1 {
    background-image: url(images/hero-background.png);
    background-size: cover;
}

.home-overlap-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.square-hero {
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;
    padding-top: 20%;
}

.title-hero {
    font-family: 'IM Fell English', serif;
    font-size: 8em;
    color: white;
    font-style: italic;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.text-hero {
    font-family: 'IM Fell English', serif;
    font-size: 2em;
    color: rgb(178, 178, 178);
    grid-column: 2 / span 7;
    grid-row: 2 / span 1;
    padding-left: 5%;
}

.button-hero {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    margin-top: 35%;
    margin-right: 10%;
    margin-left: 10%;
}


.button-text {
    text-align: center;
    font-family: 'IM Fell English', serif;
    color: rgb(248, 182, 94);
    font-size: 1.25em;
    padding-top: 5%;
    margin-bottom: 5%;
}

.learn-sec {
    background-image: url(images/learn-sec-background.png);
}

.learn-title {
    text-align: center;
    font-family: 'IM Fell English', serif;
    font-size: 4em;
    color: white;
    padding-top: 20%;
    padding-bottom: 10%;
}

.home-overlap-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 1fr);
    grid-column-gap: 1%
}


.square-1 {
    grid-column: 1 / span 6;
    grid-row: 2 / span 4;
    padding-top: 7.5%;
    padding-left: 5%;
}

.large-image-1 {
    grid-column: 6 / span 7;
    grid-row: 2 / span 4;
}

.small-image-1 {
    grid-column: 4 / span 3;
    grid-row: 4 / span 3;
    padding-top: 25%;
}

.title-1 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
}

.text-1 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 2;
    padding-left: 15%;
}

.button-1 {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    margin-top: 23%;
    margin-right: 15%;
    font-size: 0.8em;
}

.square-2 {
    grid-column: 1 / span 6;
    grid-row: 8 / span 4;
    padding-top: 7.5%;
    padding-left: 5%;
}

.large-image-2 {
    grid-column: 6 / span 7;
    grid-row: 8 / span 4;
}

.small-image-2 {
    grid-column: 4 / span 3;
    grid-row: 10 / span 3;
    padding-top: 25%;
}

.title-2 {
    grid-column: 1 / span 4;
    grid-row: 8 / span 1;
}

.text-2 {
    grid-column: 1 / span 5;
    grid-row: 9 / span 2;
    padding-left: 15%;
}

.button-2 {
    grid-column: 1 / span 3;
    grid-row: 10 / span 1;
    margin-top: 23%;
    margin-right: 15%;
    font-size: 0.8em;
}

.square-3 {
    grid-column: 1 / span 6;
    grid-row: 14 / span 4;
    padding-top: 7.5%;
    padding-left: 5%;
}

.large-image-3 {
    grid-column: 6 / span 7;
    grid-row: 14 / span 4;
}

.small-image-3 {
    grid-column: 4 / span 3;
    grid-row: 16 / span 3;
    padding-top: 25%;
}

.title-3 {
    grid-column: 1 / span 4;
    grid-row: 14 / span 1;
}

.text-3 {
    grid-column: 1 / span 5;
    grid-row: 15 / span 2;
    padding-left: 15%;
}

.button-3 {
    grid-column: 1 / span 3;
    grid-row: 16 / span 1;
    margin-top: 23%;
    margin-right: 15%;
    font-size: 0.8em;
}


.support-sec {
    background-image: url(images/support-sec-background.png);
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;
}

.home-overlap-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.square-support {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    margin-top: 20%;
}

.title-support {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    padding-top: 1%;
}

.text-support {
    grid-column: 2 / span 8;
    grid-row: 2 / span 1;
    padding-left: 5%;
    
}

.button-support{
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    font-size: 0.8em;
    margin-bottom: 20%;
    margin-right: 5%;
    margin-left: 10%;
}

.footer-sec {
    background-color: black;
}

.content-footer {
    padding-top: 10%;
    padding-bottom: 10%;
}

.title-footer {
    font-size: 1em;
    color: white;
}

.text-footer {
    font-size: 1em;
}

.logos {
    align-content: center;
    width: 25%;
}

.button-footer{
    font-size: 1em;
}

.input-footer{
    padding-left: 10%;
}

.foot{
    margin-top: 100px;
    align-content: center;
}





.stories-sec-hero {
    background-image: url(images/stories-sec-background.png);
    background-size: cover;
}

.stories-overlap-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.square-stories {
    grid-column: 2 / span 5;
    grid-row: 1 / span 4;
    padding-top: 7.5%;

}

.title-stories {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    font-family: 'IM Fell English', serif;
    font-size: 7em;
    color: white;
    font-style: italic;
}

.text-stories {
    grid-column: 2 / span 5;
    grid-row: 2 / span 3;
    padding: 10%;
}

.stories-sec {
    background-color: black;
}

.stories-overlap-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(22, 1fr);
    grid-column-gap: 1%;
}

.square-stories-1 {
    grid-column: 1 /span 8;
    grid-row: 4 / span 3;
    padding-left: 5%;
    padding-right: 5%;
}

.image-stories-1 {
    grid-column: 1 / span 8;
    grid-row: 1 / span 4;
}

.title-stories-1 {
    grid-column: 2 / span 6;
    grid-row: 4 / span 1;
}

.text-stories-1 {
    grid-column: 2 / span 6;
    grid-row: 5 / span 1;
}

.button-stories-1{
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
}

.square-stories-2 {
    grid-column: 5 /span 8;
    grid-row: 11 / span 3;
    padding-left: 5%;
    padding-right: 5%;
}

.image-stories-2 {
    grid-column: 5 / span 8;
    grid-row: 8 / span 4;
}

.title-stories-2 {
    grid-column: 6 / span 6;
    grid-row: 11 / span 1;
}

.text-stories-2 {
    grid-column: 6 / span 6;
    grid-row: 12 / span 1;
}

.button-stories-2{
    grid-column: 6 / span 2;
    grid-row: 13 / span 1;
}

.square-stories-3 {
    grid-column: 1 /span 8;
    grid-row: 18 / span 3;
    padding-left: 5%;
    padding-right: 5%;
}

.image-stories-3 {
    grid-column: 1 / span 8;
    grid-row: 15 / span 4;
}

.title-stories-3 {
    grid-column: 2 / span 6;
    grid-row: 18 / span 1;
}

.text-stories-3 {
    grid-column: 2 / span 6;
    grid-row: 19 / span 1;
}

.button-stories-3{
    grid-column: 2 / span 2;
    grid-row: 20 / span 1;
}





.tours-sec-hero {
    background-image: url(images/tour-sec-background.png);
    background-size: cover;
}

.tours-overlap-1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.square-tours {
    grid-column: 2 / span 5;
    grid-row: 1 / span 4;
    padding-top: 7.5%;

}

.title-tours {
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    font-family: 'IM Fell English', serif;
    font-size: 7em;
    color: white;
    font-style: italic;
}

.body-text-tours {
    font-family: 'IM Fell English', serif;
    color: rgb(178, 178, 178);
    font-size: 1em;
}

.title-text-tours {
    font-family: 'IM Fell English', serif;
    font-size: 4em;
    color: white;
    font-style: italic;
}

.text-tours {
    grid-column: 2 / span 5;
    grid-row: 2 / span 3;
    padding: 10%;
    margin-top: 5%;
}

.tours-sec {
    background-color: black;
}

.tours-overlap-2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(27, 1fr);
    grid-column-gap: 1%;
}

.square-tours-1 {
    grid-column: 1 /span 8;
    grid-row: 1 / span 5;
    margin-top: 5%;
}

.image-tours-1 {
    grid-column: 6 / span 7;
    grid-row: 1 / span 5;
}

.title-tours-1 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
}

.text-tours-1 {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    margin-left: 10%;
}

.time-tours-1 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
    margin-left: 10%;
}

.button-tours-1{
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    margin-right: 32%;
    margin-top: 10%;
}


.square-tours-2 {
    grid-column: 1 /span 8;
    grid-row: 8 / span 5;
    margin-top: 5%;
}

.image-tours-2 {
    grid-column: 6 / span 7;
    grid-row: 8 / span 5;
}

.title-tours-2 {
    grid-column: 1 / span 6;
    grid-row: 8 / span 1;
}

.text-tours-2 {
    grid-column: 1 / span 5;
    grid-row: 9 / span 1;
    padding-left: 10%;
}

.time-tours-2 {
    grid-column: 1 / span 5;
    grid-row: 10 / span 1;
    padding-left: 10%;
}

.button-tours-2{
    grid-column: 1 / span 3;
    grid-row: 11 / span 1;
    margin-right: 32%;
    margin-top: 10%;
}

.square-tours-3 {
    grid-column: 1 /span 8;
    grid-row: 15 / span 5;
    margin-top: 5%;
}

.image-tours-3 {
    grid-column: 6 / span 7;
    grid-row: 15 / span 5;
}

.title-tours-3 {
    grid-column: 1 / span 6;
    grid-row: 15 / span 1;
}

.text-tours-3 {
    grid-column: 1 / span 5;
    grid-row: 16 / span 1;
    padding-left: 10%;
}

.time-tours-3 {
    grid-column: 1 / span 5;
    grid-row: 17 / span 1;
    padding-left: 10%;
}

.button-tours-3{
    grid-column: 1 / span 3;
    grid-row: 18 / span 1;
    margin-right: 32%;
    margin-top: 10%;
}

.square-tours-4 {
    grid-column: 1 /span 8;
    grid-row: 22 / span 5;
    margin-top: 5%;
}

.image-tours-4 {
    grid-column: 6 / span 7;
    grid-row: 22 / span 5;
}

.title-tours-4 {
    grid-column: 1 / span 6;
    grid-row: 22 / span 1;
}

.text-tours-4 {
    grid-column: 1 / span 5;
    grid-row: 23 / span 1;
    padding-left: 10%;
}

.time-tours-4 {
    grid-column: 1 / span 5;
    grid-row: 24 / span 1;
    padding-left: 10%;
}

.button-tours-4{
    grid-column: 1 / span 3;
    grid-row: 25 / span 1;
    margin-right: 32%;
    margin-top: 10%;
}




















/*Media Queries*/









@media (max-width: 1350px){

    .body-text {
        font-size: 1.25em;
    }
    
    .title-text{
        font-size: 3.5em;
    }
    
    .button-text{
        font-size: 1em
    }
    
    .nav-text {
        font-size: 0.9em;
    }

}
    

@media (min-width: 1200px){
    .container {
        width: 100%;
    }
    
    
}

@media (max-width: 1200px){

    .body-text {
        font-size: 1em;
    }
    
    .title-text{
        font-size: 2.5em;
    }
    
    .button-text{
        font-size: 0.8em
    }
    
    .nav-text {
        font-size: 0.7em;
    }
    
    .home-overlap-1 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1%;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .square-hero {
        grid-column: 2 / span 3;
        grid-row: 1 / span 3;
        padding-top: 0%;
        margin-bottom:10%;
        margin-right:20%
    }

    .title-hero {
        font-size: 5.5em;
        grid-column: 1 / span 7;
        grid-row: 1 / span 1;
    }

    .text-hero {
        font-size: 2em;
        grid-column: 2 / span 5;
        grid-row: 2 / span 1;
        padding-left: 5%;
    }

    .button-hero {
        grid-column: 2 / span 3;
        grid-row: 3 / span 1;
        margin-top: 0%;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 1.5em
    }
    
    .title-stories{
        font-size: 4em;
    }
    
    .text-stories {
        margin-top: %;
    }
    
    .title-tours {
        font-size: 4em;
    }
    
    .text-tours {
        margin-top: 0%;
    }
}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
    
}

@media (max-width: 912px){
    .title-tours-1{
        grid-column: 1 / span 12
    }
    
    .title-tours-2{
        grid-column: 1 / span 12
    }
    
    .title-tours-3{
        grid-column: 1 / span 12
    }
    
    .title-tours-4{
        grid-column: 1 / span 12
    }
}



@media (max-width: 900px){
   
    .body-text {
        font-size: em;
    }
    
    .title-text{
        font-size: 3.5em;
    }
    
    .nav-text {
        font-size: 0.5em;
    }
    
    .navbar-brand {
        padding: 2.5%;
    }
    

    .square-hero {
        grid-column: 2 / span 3;
        grid-row: 1 / span 3;
        padding-top: 0%;
    }

    .title-hero {
        font-size: 4.5em;
        grid-column: 1 / span 7;
        grid-row: 1 / span 1;
    }

    .text-hero {
        font-size: 1.5em;
        grid-column: 2 / span 5;
        grid-row: 2 / span 1;
        padding-left: 5%;
    }

    .button-hero {
        grid-column: 2 / span 3;
        grid-row: 3 / span 1;
        margin-top: 0%;
        font-size: 1em
    }
    
    .home-overlap-2 {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(21, 1fr);
}


    .square-1 {
        grid-column: 1 / span 7;
        grid-row: 2 / span 4;
        padding-top: 7.5%;
        padding-left: 0%
    }

    .large-image-1 {
        grid-column: 2 / span 6;
        grid-row: 4 / span 4;
        margin-top: 15%;

    }

    .small-image-1 {
        grid-column: 1 / span 3;
        grid-row: 6 / span 2;
        padding-top: 0%;
    }

    .title-1 {
        grid-column: 1 / span 7;
        grid-row: 2 / span 1;
        font-size: 1.5em
    }

    .text-1 {
        grid-column: 2 / span 5;
        grid-row: 3 / span 2;
        padding-left: 0;
    }

    .button-1 {
        grid-column: 2 / span 2;
        grid-row: 4 / span 1;
        margin-top: 10%;
        margin-right: 0%;
        margin-left:0%;
        font-size: 1em
    }

    .square-2 {
        grid-column: 1 / span 7;
        grid-row: 9 / span 4;
        padding-top: 7.5%;
        padding-left: 0%
    }

    .large-image-2 {
        grid-column: 2 / span 6;
        grid-row: 11 / span 4;
        margin-top: 15%;
    }

    .small-image-2 {
         grid-column: 1 / span 3;
        grid-row: 13 / span 2;
        padding-top: 0%;
    }

    .title-2 {
        grid-column: 1 / span 7;
        grid-row: 9 / span 1;
        font-size: 1.5em
    }

    .text-2 {
        grid-column: 2 / span 5;
        grid-row: 10 / span 2;
        padding-left: 0;
    }

    .button-2 {
        grid-column: 2 / span 2;
        grid-row: 11 / span 1;
        margin-top: 10%;
        margin-right: 0%;
        margin-left:0%;
        font-size: 1em
    }

    .square-3 {
        grid-column: 1 / span 7;
        grid-row: 16 / span 4;
        padding-top: 7.5%;
        padding-left: 0%;
    }

    .large-image-3 {
        grid-column: 2 / span 6;
        grid-row: 18 / span 4;
        margin-top: 15%;
    }

    .small-image-3 {
        grid-column: 1 / span 3;
        grid-row: 20 / span 2;
        padding-top: 0%;
    }

    .title-3 {
        grid-column: 1 / span 7;
        grid-row: 16 / span 1;
        font-size: 1.5em
    }

    .text-3 {
        grid-column: 2 / span 5;
        grid-row: 17 / span 2;
        padding-left: 0;
    }

    .button-3 {
        grid-column: 2 / span 2;
        grid-row: 18 / span 1;
        margin-top: 10%;
        margin-right: 0%;
        margin-left:0%;
        font-size: 1em
    }
    
    .text-support{
        font-size: 1em;
    }
    
    .title-support{
        font-size: 2.5em
    }
    
    .square-support {
        grid-column: 2 / span 4;
        grid-row: 1 / span 3;
        margin-top: 20%;
    }
    
    .button-support{
        grid-column: 2 / span 4;
        grid-row: 3 / span 1;
    }
    
    .square-stories{
        grid-column: 2 / span 7
    }    

    .text-stories{
        grid-column: 2 / span 7;
    }
    
    .stories-overlap-2 {
        grid-template-columns: repeat(8, 1fr);
    }
    
    .square-stories-2 {
        grid-column: 1 /span 8;
    }

    .image-stories-2 {
        grid-column: 1 / span 8;    
    }

    .title-stories-2 {
        grid-column: 2 / span 6;
    }

    .text-stories-2 {
        grid-column: 2 / span 6;
    }

    .button-stories-2{
        grid-column: 2 / span 3;
    }
    
    .button-stories-1{
        grid-column: 2 / span 3;
    }
    
    .button-stories-3{
        grid-column: 2 / span 3;
    }

}


@media (max-width: 870px){
    .tours-overlap-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(33, 1fr);
    }

    .square-tours-1 {
        grid-column: 1 /span 6;
        margin-top: 7.5%;
    }

    .image-tours-1 {
        grid-column: 1 / span 6;
        grid-row: 4 / span 4;
        margin-right: 10%;
        margin-left: 10%;
    }

    .title-tours-1 {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }

    .text-tours-1 {
        grid-column: 1 / span 6;
        margin-left: 10%;
        margin-right: 10%;
    }


    .button-tours-1{
        grid-column: 4 / span 3;
        grid-row: 3 / span 1;
        margin-right: 32%;
        margin-top: 0%;
    }


    .square-tours-2 {
        grid-column: 1 /span 6;
        grid-row: 9 / span 5;
        margin-top: 7.5%;
    }

    .image-tours-2 {
        grid-column: 1 / span 6;
        grid-row: 12 / span 5;
        margin-right: 10%;
        margin-left: 10%;
    }

    .title-tours-2 {
        grid-column: 1 / span 6;
        grid-row: 9 / span 1;
    }

    .text-tours-2 {
        grid-column: 1 / span 6;
        grid-row: 10 / span 1;
        padding-left: 10%;
        padding-right: 10%;
    }

    .time-tours-2 {
        grid-row: 11 / span 1;
    }

    .button-tours-2{
        grid-column: 4 / span 3;
        grid-row: 11 / span 1;
        margin-top: 0%;
    }

    .square-tours-3 {
        grid-column: 1 /span 6;
        grid-row: 18 / span 5;
        margin-top: 7.5%;
    }

    .image-tours-3 {
        grid-column: 1 / span 6;
        grid-row: 21 / span 5;
        margin-right: 10%;
        margin-left: 10%;
    }

    .title-tours-3 {
        grid-column: 1 / span 6;
        grid-row: 18 / span 1;
    }

    .text-tours-3 {
        grid-column: 1 / span 6;
        grid-row: 19 / span 1;
        padding-left: 10%;
        padding-right: 10%;
    }

    .time-tours-3 {
        grid-column: 1 / span 5;
        grid-row: 20 / span 1;
        padding-left: 10%;
    }

    .button-tours-3{
        grid-column: 4 / span 3;
        grid-row: 20 / span 1;
        margin-top: 0%;
    }

    .square-tours-4 {
        grid-column: 1 /span 6;
        grid-row: 26 / span 5;
        margin-top: 7.5%;
    }

    .image-tours-4 {
        grid-column: 1 / span 6;
        grid-row: 29 / span 5;
        margin-right: 10%;
        margin-left: 10%;
    }

    .title-tours-4 {
        grid-column: 1 / span 6;
        grid-row: 26 / span 1;
    }

    .text-tours-4 {
        grid-column: 1 / span 6;
        grid-row: 27 / span 1;
        padding-left: 10%;
        padding-right: 10%
    }

    .time-tours-4 {
        grid-column: 1 / span 5;
        grid-row: 28 / span 1;
        padding-left: 10%;
    }

    .button-tours-4{
        grid-column: 4 / span 3;
        grid-row: 28 / span 1;
        margin-top: 0%;
    }
}

@media (max-width: 784px){
    .square-tours {
        grid-column: 2 / span 6;
    }
    
    .text-tours {
        grid-column: 2 / span 6;
    }
}


@media (min-width: 768px){
    .container {
        width: 100%;
    }
}


@media (max-width: 654px){
   .body-text {
        font-size: 1em;
    }
    
    .title-text{
        font-size: 1.5em;
    }
    

    .title-hero {
        font-size: 3.5em;
    }

    .text-hero {
        font-size: 1.25em;
    }

    .button-hero {
        font-size: 1em
    }
    
    .learn-title{
        font-size: 2.5em;
    }
    
    .home-overlap-3 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

    .square-support {
        grid-column: 2 / span 4;
        grid-row: 1 / span 2;
        margin-top: 5%;
        padding-right: 10%
        
        
    }

    .text-support{
        grid-column: 2 / span 6;
        grid-row: 1 / span 2;
        margin-top: 25%
        
    }

    .title-support {
        grid-column: 1 / span 7;
        font-size: 2.5em;
        padding-top: 0%;
    }    
    
    .button-support {
        grid-row: 2 / span 1;
        margin-top:25%
    }
    
    .title-stories-1{
        font-size: 2em;
    }
    
    .title-stories-2{
        font-size: 2em;
    }
    
    .title-stories-3{
        font-size: 2em;
    }
    
     .stories-overlap-1 {
    grid-template-columns: repeat(7, 1fr);
    }
    
    .square-stories{
        padding-top: 12.5%;
    }
    
    .tours-overlap-1 {
        grid-template-columns: repeat(8, 1fr);
    }
    
    .title-tours{
        font-size: 3em
    }
}

@media (max-width: 532px){
   .body-text {
        font-size: 0.9em;
    }
    
    .title-text{
        font-size: 2em;
    }
    
    .button-text{
        font-size: 0.9em;
    }

    .title-hero {
        font-size: 2.8em;
    }

    .text-hero {
        font-size: 1em;
    }

    .button-hero {
        font-size: 0.65em;
    }
    
    .square-1 {
        padding-top: 15%;
    }
    
    .text-1 {
        grid-column: 1 / span 7;
        padding-right: 8%;
        padding-left: 8%;
    }
    
    .button-1 {
        grid-column: 2 / span 4;
        margin-top: 2.5%;
    }
    
    .square-2 {
        padding-top: 15%;
    }
    
    .text-2 {
        grid-column: 1 / span 7;
        padding-right: 8%;
        padding-left: 8%;
    }
    
    .button-2 {
        grid-column: 2 / span 4;
        margin-top: 2.5%;
    }
    
    .square-3 {
        padding-top: 15%;
    }
    
    .text-3 {
        grid-column: 1 / span 7;
        padding-right: 8%;
        padding-left: 8%;
    }
    
    .button-3 {
        grid-column: 2 / span 4;
        margin-top: 2.5%;
    }
    
    .button-support {
        font-size: 0.7em;
    }
    
    .stories-overlap-2 {
        grid-template-rows: repeat(17, 1fr);
    }
    
    .square-stories-1{
        grid-row: 3 / span 3;
        margin-top: 10%;
    }
    
    .image-stories-1 {
        grid-row: 1 / span 3; 
        
    }

    .title-stories-1 {
        grid-row: 2 / span 2;
        grid-column: 1 / span 8;
        text-align: center;
        margin-top: 12.5%;
        font-size: 1.5em
    }

    .text-stories-1 {
        grid-row: 4 / span 2;
        margin-top: 0%;
    }

    .button-stories-1{
        grid-row: 4 / span 2;
        grid-column: 3 /span 4;
        margin-top: 45%;
    }
    
    .square-stories-2{
        grid-row: 9 / span 3;
        margin-top: 10%;
    }
    
    .image-stories-2 {
        grid-row: 7 / span 3; 
        
    }

    .title-stories-2 {
        grid-row: 8 / span 2;
        grid-column: 1 / span 8;
        text-align: center;
        margin-top: 12.5%;
        font-size: 1.5em
    }

    .text-stories-2 {
        grid-row: 10 / span 2;
        margin-top: 0%;
    }

    .button-stories-2{
        grid-row: 10 / span 2;
        grid-column: 3 /span 4;
        margin-top: 45%;
    }
    
    .square-stories-3{
        grid-row: 15 / span 3;
        margin-top: 10%;
    }
    
    .image-stories-3 {
        grid-row: 13 / span 3; 
        
    }

    .title-stories-3 {
        grid-row: 14 / span 2;
        grid-column: 1 / span 8;
        text-align: center;
        margin-top: 12.5%;
        font-size: 1.5em
    }

    .text-stories-3 {
        grid-row: 16 / span 2;
        margin-top: 0%;
    }

    .button-stories-3{
        grid-row: 16 / span 2;
        grid-column: 3 /span 4;
        margin-top: 45%;
    }
    
    .title-text-tours{
        font-size: 3em;
    }
    
    .body-text-tours {
        font-size: 0.8em
    }
}


@media (max-width: 400px){
   .body-text {
        font-size: 0.8em;
    }
    
    .title-text{
        font-size: 1.5em;
    }
    
    .home-overlap-1 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1%;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .square-hero {
        grid-column: 2 / span 5;
        grid-row: 1 / span 3;
        padding-top:10%;
        margin-bottom:0%;
        margin-right:0%
    }

    .title-hero {
        font-size: 2.75em;
        grid-column: 1 / span 7;
        grid-row: 1 / span 1;
        text-align: center;
    }

    .text-hero {
        font-size: 1em;
        grid-column: 2 / span 5;
        grid-row: 1 / span 2;
        padding-left: 5%;
        margin-top:60%;
    }

    .button-hero {
        grid-column: 2 / span 5;
        grid-row: 2 / span 1;
        margin-top: 35%;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 1em
    }
    
    .square-support {
        grid-column: 1 / span 7;
        grid-row: 1 / span 2;
        margin-top: 5%;
        padding-right: 0%
        
        
    }

    .text-support{
        grid-column: 1 / span 7;
        grid-row: 1 / span 2;
        margin-top: 40%;
        margin-right: 8%;
        margin-left: 8%
    }

    .title-support {
        grid-column: 1 / span 7;
        font-size: 2em;
        padding-top: 0%;
        text-align:center;
    }    
    
    .button-support {
        grid-column: 2 / span 4;
        margin-top:25%
    }
    
    .title-text-tours{
        font-size: 2em;
        margin-top: 20%;
        margin-bottom: 0%;
    }
    
    .body-text-tours {
        margin-top: 5%
    }
    
    .tours-overlap-2 {
        grid-template-rows: repeat(24, 1fr);
    }
    
    .square-tours-1 {
        grid-row: 2 / span 3;
        margin-top: 0%;
    }
    
    .image-tours-1 {
        grid-row: 3 / span 3;
        margin-top: 20%
    }
    
    .square-tours-2{
        grid-row: 8 / span 3;
        margin-top: 0%;
    }
    
    .image-tours-2 {
        grid-row: 9 / span 3;
        margin-top: 20%
    }
    

    .title-tours-2 {
        grid-row: 7 / span 1;
    }

    .text-tours-2 {
        grid-row: 8 / span 1;
    }

    .time-tours-2 {
        grid-row: 9 / span 1;
    }

    .button-tours-2{
        grid-row: 9 / span 1;
    }

    .square-tours-3 {
        grid-row: 14 / span 5;
        margin-top: 0%;
    }

    .image-tours-3 {
        grid-row: 15 / span 5;
        margin-top: 20%
    }

    .title-tours-3 {
        grid-row: 13 / span 1;
    }

    .text-tours-3 {
        grid-row: 14 / span 1;
    }

    .time-tours-3 {
        grid-row: 15 / span 1;
    }

    .button-tours-3{
        grid-row: 15 / span 1;
    }

    .square-tours-4 {
        grid-row: 20 / span 5;
        margin-top: 0%;
    }

    .image-tours-4 {
        grid-row: 21 / span 5;
        margin-top: 20%
    }

    .title-tours-4 {
        grid-row: 19 / span 1;
    }

    .text-tours-4 {
        grid-row: 20 / span 1;
    }

    .time-tours-4 {
        grid-row: 21 / span 1;
    }

    .button-tours-4{
        grid-row: 21 / span 1;
    }
    
    
}